body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  background-image: url("images/seascape.jpg");
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-position: center;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  max-width: 825px;
  max-height: 602px;
}

.search {
  position: relative;
  width: 30%;
  right: -31px;
  margin: auto;
}
.btn-light {
  position: relative;
  margin: auto;
  right: -649px;
  top: -37px;
  font-size: 13px;
  width: max-content;
}
.img-sun {
  position: relative;
  object-fit: cover;
  display: block;
  height: 165px;
  width: 165px;
  margin: auto 30px;
  top: -55px;
}
.location {
  position: relative;
  display: block;
  margin: -160px 250px;
}
.main-degrees {
  font-weight: 400;
  margin-bottom: 0;
}
.units {
  text-decoration: none;
  position: relative;
  right: -44px;
  top: -37px;
}
.units .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.units a {
  text-decoration: none;
}
.start-location {
  position: relative;
  margin: auto 0;
}
.current-data {
  position: relative;
  margin: auto 620px;
  top: 21px;
  font-size: 12px;
}

.forecast {
  position: relative;
  margin: 79px 13px;
  text-align: center;
}
.five-day {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 300px;
  top: -10px;
}
.first-day-col {
  position: relative;
  right: -10px;
}
.forecast-temperature-one {
  font-size: 13px;
  opacity: 1;
}
.temp-low-one {
  opacity: 0.6;
}
.second-day-col {
  position: relative;
  right: -40px;
}
.third-day-col {
  position: relative;
  right: -73px;
}
.fourth-day-col {
  position: relative;
  right: -115px;
}
.fifth-day-col {
  position: relative;
  right: -140px;
}
.img-day1 {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 10px;
}
.img-day2 {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 10px;
}
.img-day3 {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 15px;
}
.img-day4 {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 10px;
}
.img-day5 {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 10px;
}
